**.ipynb_checkpoints*
**pycache*
**.py[cod]
sw/kernel/linear_st.py
sw/test/kernel/test_kernel_linear_st.ipynb
sw/test/mlp/data/mnist/MNIST/processed/test.pt
sw/test/mlp/data/mnist/MNIST/processed/training.pt
sw/test/mlp/data/mnist/MNIST/raw/t10k-images-idx3-ubyte
sw/test/mlp/data/mnist/MNIST/raw/t10k-images-idx3-ubyte.gz
sw/test/mlp/data/mnist/MNIST/raw/t10k-labels-idx1-ubyte
sw/test/mlp/data/mnist/MNIST/raw/t10k-labels-idx1-ubyte.gz
sw/test/mlp/data/mnist/MNIST/raw/train-images-idx3-ubyte
sw/test/mlp/data/mnist/MNIST/raw/train-images-idx3-ubyte.gz
sw/test/mlp/data/mnist/MNIST/raw/train-labels-idx1-ubyte
sw/test/mlp/data/mnist/MNIST/raw/train-labels-idx1-ubyte.gz
sw/test/mlp/saved_model_state_dict_8_bitwidth_1024_layerwidth_0.001_lr
sw/test/mlp/saved_model_state_dict_8_bitwidth_16384_layerwidth_0.0001_lr
sw/test/mlp/saved_model_state_dict_8_bitwidth_2048_layerwidth_0.0001_lr
sw/test/mlp/saved_model_state_dict_8_bitwidth_4096_layerwidth_0.0001_lr
sw/test/mlp/saved_model_state_dict_8_bitwidth_512_layerwidth_0.001_lr
sw/test/mlp/saved_model_state_dict_8_bitwidth_8192_layerwidth_0.0001_lr
sw/test/mlp/test_mlp_evaluate_linear_st.ipynb
sw/test/test_random.ipynb
