**.ipynb_checkpoints*
**pycache*
**.py[cod]
sw/kernel/linear_st.py
sw/test/kernel/test_kernel_linear_st.ipynb
sw/test/test_random.ipynb
*.tar
*.pt
*.pth
sw/app/uBrain/raw_data/
sw/app/mlp/data/**
*.gz
sw/app/mlp/saved_model_state_dict_8_bitwidth_1024_layerwidth_0.001_lr
sw/app/mlp/saved_model_state_dict_8_bitwidth_16384_layerwidth_0.0001_lr
sw/app/mlp/saved_model_state_dict_8_bitwidth_2048_layerwidth_0.0001_lr
sw/app/mlp/saved_model_state_dict_8_bitwidth_4096_layerwidth_0.0001_lr
sw/app/mlp/saved_model_state_dict_8_bitwidth_512_layerwidth_0.001_lr
sw/app/mlp/saved_model_state_dict_8_bitwidth_8192_layerwidth_0.0001_lr
sw/app/mlp/saved_model_state_dict_8_clamp
sw/app/mlp/saved_model_state_dict_8_no_clamp
sw/app/mlp/saved_model_state_dict_8_no_clamp_new
*.pkl
